@page "/counter"

<PageTitle>Counter</PageTitle>


<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<button id="startVideo">Start Video</button>
<button id="stopVideo">Stop Video</button>
 <select id="videoSource" ></select>
 <div id="result"></div>

<canvas id="canvas" width="1280" height="480"></canvas>
<a id="link"></a>
