@page "/"

<PageTitle>Index</PageTitle>

<div Class="canvas-container" id="canvas-container" style="width:100%;">
                <canvas id="deepar-canvas">
            </canvas>
</div>



@*        <FetchData>
            <Online>
                <h1 style="color: green">Online</h1>
            </Online>
            <Offline>
                <h1 style="color: red">Offline</h1>
            </Offline>
        </FetchData>*@


