@*@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@

@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
@*    <MudAppBar id="appbar">
        DeepAR
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" OnClick="CloseApp"></MudIconButton>
        
    </MudAppBar>*@

    <MudMainContent MaxWidth="MaxWidth.False" Style="padding-top:0;">
        <MudContainer MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>

    </MudMainContent>
</MudLayout>
